html {
    font-family: Helvetica;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display {
    background-color: greenyellow;
    border: 3px solid black;
    padding: 50px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.number-group {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.number-button {
    background-color: gray;
    padding: 30px;
    color: whitesmoke;
    border: 2px groove black;
    font-size: 50px;
    margin-top: 5px;
}

.equals-button {
    text-align: center;
    background-color: red;
    padding: 30px;
    color: whitesmoke;
    border: 2px groove black;
    font-size: 50px;
    margin-top: 5px;
}

.operations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.operation-button {
    text-align: center;
    background-color: rgb(2, 128, 255);
    padding: 30px;
    color: whitesmoke;
    border: 2px groove black;
    font-size: 50px;
    margin-top: 5px;
}