html {
    font-family: Helvetica;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display {
    background-color: greenyellow;
    border: 3px solid black;
    padding: 50px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.number-group {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin: 5px;
}

.number-button {
    background-color: gray;
    padding: 20px;
    color: whitesmoke;
    border: 2px groove black;
}